# Node modules
node_modules/
server/node_modules/
client/node_modules/

# Environment variables
config/config.env
server/config/config.env

# Logs
*.log

# Uploads
uploads/
server/uploads/

# Cloudflare
cloudflared.exe
server/cloudflared.exe

# OS files
.DS_Store
Thumbs.db

# Build files
dist/
build/
*.min.js